@import "../../assets/base/responsive";

.content_container {
    grid-area: link-generator;
}
.content_container_p{
    margin-bottom: 40px;
    text-align: center;
}

@media only screen and (min-width: $medium-min-width) {
    .container {
        display: grid;
        grid-column-gap: 12%;
        grid-template-columns: 45% 40%; 
        grid-template-areas: "guide form";
    }
}