@import "../../assets/base/responsive";

.content_container {
    grid-area: link-generator;
}
.content_container p {
    text-align: center;
    margin-bottom: 40px;
}
@media only screen and (min-width: $medium-min-width) {
    .container {
        display: grid;
        grid-column-gap: 2.5rem;
        grid-template-columns: 2fr 2fr; 
        grid-template-areas: "guide form form";
        justify-items: stretch;
    }
}