$primary-text-colour: black;
$secondary-text-colour: gray;
$clear-background-color: #fff;
$contact-background-color: #f2f2f2;

$action-colour: #282249;
$action-text-colour: white;
$action-disabled-colour: gray;
$action-disabled-text-colour: whitesmoke;

$hightlight-background-colour:#D3EFFC;
$highlight-colour: #C4EEFA;
$highlight-text-colour: $primary-text-colour;
$highlight-colour-dark: #449FE2;
$border-light: #8C8C8C;
$border-lighter: #979797;
$border-lightest: #f6f8fa;
$error-text-colour: red;
$box-shadow-color: #ececec;
