@font-face {
    font-family: 'FSElliot';
    src: local('FSElliotWeb'), url('../font/FSElliotWeb-Regular.woff') format('woff');
    font-weight: normal;
} 
@font-face {
    font-family: 'FSElliot';
    src: local('FSElliotLight') url('../font/fselliot-light-webfont.woff') format('woff');
    font-weight: 100;
}
