@font-face {
    font-family: 'FSElliot';
    src: local('FSElliot'), url(./FSElliotWeb-Regular.woff) format('woff');
} 
@font-face {
    font-family: 'FSElliotLight';
    src: local('FSElliotLight') url(./fselliot-light-webfont.woff) format('woff');
}