@import "../../assets/base/typograghy";
@import "../../assets/base/media-queries";
@import "../../assets/base/colour";

button {
    display: block;
    padding: 0.5rem 0;
    cursor: pointer;
    margin: 0;
    background-color: $action-colour;  
    border: solid $border-light 1px;
    color: $action-text-colour;  
    border-radius: 40px;
    width: 100%;  
    text-decoration: none;
    text-align: center;
    font-size: $font-size-small;
    margin: 20px 0;
}
.input{
  border: 1px solid $border-lighter;
  line-height: 25px;
  font-size: $font-size;
  width: 99%;
  margin: 8px 0;
  display: block;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    width: 100%;
    border: 1px solid $border-lighter;
    font-size: $font-size;
    background-color: #fff;
    border-radius: 0;
    height: 30px;
    margin: 8px 0;
    background-image: url(../../assets/images/angle-down-solid.svg);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1rem; 
}
.example_container {
    border: 1px solid $border-light;
    height: 100px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.large {
    background-color: $highlight-colour-dark;
    width: 140px;
    height: 45px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 2px;
    color: #fff;

    & a {
        font-size: $font-size-large;
        text-decoration: none;
    }
    & img {
        width: 40px;
    }
}
.medium {
    background-color: $highlight-colour-dark;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 2px;
    color: #fff;

    & a {
        font-size: $font-size;
        text-decoration: none;
    }
    & img {
        width: 35px;
    }
}
.small {
    background-color: $highlight-colour-dark;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 2px;
    color: #fff;

    & a {
        font-size: $font-size-small;
        text-decoration: none;
    }
    & img {
        width: 30px;
    }
}
.close {
    float: right;
    border: 1px solid transparent;
    color: $border-lighter;
}
.closeIcon {
    width: 15px;
}
.input_container {
    grid-area: form;
}
.form_container {
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    position: fixed;  
    width: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.6);
}
.link_container {
    grid-column-start: 2;
    border: 1px solid $border-lighter;
    position: absolute;  
    padding: 10px;
    left: 3%;  
    right: 25%;  
    top: 5%;   
    margin: auto;   
    background: white; 
    text-align: left;
    height: 700px;
}
.template_container {
    padding: 20px;
}
.template_title {
    margin-bottom: 0;
}
.subheading {
    font-weight: normal;
    font-size: $font-size-large;
    margin: 10px 0 0 0;
}
@media only screen and (min-width: $medium-min-width) {
    .link_container { 
        left: 5%;  
        right: 25%;  
        top: 15%;   
        bottom: 15%; 
        height: 500px; 
    }
    button {
        width: 70%;
    }
}