.html_block {
    background-color: red;
}
.button_block {
    background-color: yellow;
}
.react_block {
    background-color: green;
}
.angular_block {
    background-color: blue;
}
button {
    float: right;
    color: white;
    background-color: black;
}